.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Cost-repository {
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 24px;
}
.background-cost-repository {
  display: flex;
  flex-direction: column;
  background-color: #d9e4ea;
  width: 1180px;
  height: 272px;
  gap: 16px;
  padding: 16px;
}
.info-cost-repository {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  width: 1148px;
  height: 168px;
}
.search {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
/* textarea {
  width: 359px;
  height: 136px;
  padding: 8px 10px 8px 40px;
}
.search-bar {
  position: relative;
}
.search-bar button img {
  position: absolute;
  width: 24px;
  height: 24px;
  margin: 8px;
  top: 0;
  left: 0;
} */
.search-criteria {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
}
.select-top,
.select-bot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 64px;
  gap: 16px;
}
/* .input-form {
  display: flex;
  flex-direction: column;
  width: 239px;
}
.selectBox select {
  width: 100%;
}
#dropdown-menu {
  z-index: 0;
  display: flex;
  flex-direction: column;
  width: 239px;
  height: 396px;
  border-radius: 8px;
  padding: 8px 0;
  margin-top: 4px;
  gap: 4px;
  background-color: #ffffff;
  box-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.05);
}
.menu-action {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 48px;
  padding: 4px 8px 4px 16px;
  gap: 4px;
}
.menu-action input {
  width: 16px;
  height: 16px;
  margin: 6px;
}
.button-dropdown {
  display: flex;
  flex-direction: row;
  justify-content: end;
  height: 40px;
  gap: 10px;
  border-top: 1px solid #cdcdcd;
  padding: 8px 10px 0 10px;
}
.button-dropdown .btn.btn-solid1 {
  width: 61px;
  height: 32px;
  padding: 4px 12px;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
}
.button-dropdown .btn.btn-solid2 {
  width: 61px;
  height: 32px;
  padding: 4px 12px;
  border: none;
  border-radius: 4px;
}
.info {
  display: flex;
  flex-direction: column;
}
select {
  height: 40px;
} */
.button {
  display: flex;
  flex-direction: row;
  justify-content: end;
  height: 56px;
  gap: 8px;
  padding: 8px 0;
}
/* .button .btn.btn-solid2 {
  width: 100px;
  height: 40px;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
}
.button .btn.btn-solid1 {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 4px;
} */

.footer {
  display: flex;
  justify-content: end;
  gap: 4px;
  padding: 8px 40px 8px 0;
}
.footer .text-color5 {
  font-size: 13px;
  line-height: 19.5px;
  font-weight: 400;
}
.footer img {
  width: 55px;
  height: 20px;
}
